<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'css/style_media.css' %}">
    <title>About</title>
    <a href="{% url 'homepage' %}" class="button">return to HOMEPAGE</a>
    <p>This ia a simple streaming website created by me(PRATIK) for streaming media content, more functionalities can be added to this project.</p>
    <p>Build using:
        <ul>
            <li>Python(Django)</li>
            <li>HTML</li>
            <li>css</li>
            <li>More languages will be used when adding more functionalities.</li>
        </ul>
    </p>
    
</html>