<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Minimal Django File Upload Example</title>
    <link rel="stylesheet" href="{% static 'css/style_upload.css' %}">
</head>

<body>
    <!-- List of uploaded documents -->
    {% if documents %}
    All documents in the database:
    <ul>
        <form method="POST" action="{% url 'upload' %}">
            {% csrf_token %}
            {% for document in documents %}
            <li><input type="checkbox" name="checks[]" value= "{{ document.file_up.name }}">{{ document.file_up.name }}</li>
            {% endfor %}
            <button type="submit" name="delete">DELETE</button>
        </form>
    </ul>
    {% else %}
    <p>No documents.</p>
    {% endif %}

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ message }}
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.file_up.label_tag }} {{ form.file_up.help_text }}</p>

        <p>
            {{ form.file_up.errors }}
            {{ form.file_up }}
        </p>
        <p>
        <div class="fileupload">
            <input type="submit" value="UPLOAD">
            <label for="file">Select file</label>
          </div>
        </p>
    </form>
</body>
</html>